@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&family=Source+Sans+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

#mobilemenu{
  display: none;
}